#--------------------------------------------------------------------------
# Common program Parameters.
#--------------------------------------------------------------------------

pipeline.compileVersion = T7_MGISEQT7 GPU 4color 16bit

#Logging configuration file
pipeline.logging = logging.config

#RAM storage size in megabytes
pipeline.memorySizeMb = $MGI_MEMORYSIZEMB #32768

#interval (in seconds) of inactivity aftrer which a reserved
#batch is assumed that will no longer be opened by the controller
pipeline.reserveTimeoutSecs = 1200

#unique ID of this processor among all processors; used to create
#distinct sink file names for different processors; if not set,
#defaults to the name of the host
pipeline.uniqueId = $PBS_JOBID

#Global parameters, any configuration line that begins with "pipeline.global"
#is considered a global (that is, independent of a batch) parameter.
#The "pipeline.global." prefix will be stripped from the key

#submitImage timers
pipeline.global.submitImageTimerMeanMsec = 100
pipeline.global.submitImageTimerStdDevMsec = 10

#--------------------------------------------------------------------------
# ICE, hardware configuration.
# endpoint: ICE endpoint for the processor
# clientEndpoint: ICE client endpoint
# endpointCallback: ICE endpointCallback for the processor, for _Hybrid_ICE_
# clientEndpointCallback: ICE client endpointCallback, for _Hybrid_ICE_
#--------------------------------------------------------------------------

#ICE properties
Ice.TCP.RcvSize = 256960
Ice.TCP.SndSize = 256960
Ice.ThreadPool.Server.Size = $MGI_THREADCOUNT
Ice.ThreadPool.Server.SizeMax = $MGI_THREADCOUNT
Ice.Trace.Retry = 2
# Ice.Trace.Network = 1

#identity for client,_Hybrid_ICE_
pipeline.identity = Processor
pipeline.identityCB = ProcessorCallback

#Port and ICE endpoint configuration
modparam.endpoint = tcp -t 10000 -p 6555
modparam.clientEndpoint = tcp -t 10000 -p 6555 -h localhost
modparam.endpointCallback = tcp -t 10000 -p 6556
modparam.clientEndpointCallback = tcp -t 10000 -p 6556 -h localhost

#interval (in seconds) of inactivity aftrer which a batch is
#assumes that no more images are coming from the controller
#only for not _Hybrid_ICE_ mode

#Threads and writefq memory (MB)
modparam.threadCount = $MGI_THREADCOUNT
modparam.writeFqMemory = $MGI_WRITEFQMEMORY

#--------------------------------------------------------------------------
# Processing Modules.
#--------------------------------------------------------------------------

#comma-separated list of the modules to load, e.g.
#gpupipeline: wait for 2/4 images together;
#oneimageproc: every image do it; (deprecated, not available)
#basecall: just for offline. (deprecated, not available)
pipeline.steps = gpupipeline

#module section. For every module, library name (without platform
#dependent extension), the generation at which this step will
#be executed, and the priority level of the step (0 - 5) with 0 being
#the highest priority and 5 the lowest.
#pipeline.step.oneimageproc.generation = 0
#pipeline.step.oneimageproc.libraryName = libTaskUnit
#pipeline.step.oneimageproc.priority = 1

pipeline.step.gpupipeline.generation = 0
pipeline.step.gpupipeline.libraryName = libTaskUnit
pipeline.step.gpupipeline.priority = 1

#pipeline.step.basecall.generation = 1
#pipeline.step.basecall.libraryName = libTaskUnit
#pipeline.step.basecall.priority = 1

#BaseCall module (with turboCall registration) - save 1D intensity
modparam.saveimage = false
modparam.processimage = true
modparam.intensityExtraction = true
modparam.normalization = true
modparam.correctInts = true
modparam.writeFq = true
modparam.saveimageForRegFailed = false  
modparam.swapPinnedMemory = true

#writefq CPU or GPU version
#false: use CPU only (default); true: try to use GPU if GPU device is available
modparam.writeFqGpu = true  #if no GPU device, auto transfer to CPU mode
#configure GPU environment: 0-fullMem
modparam.environment4GPU = 0

#limitation of writefq maximum threads count
#-1: automatically calculate available threads (default)
modparam.writeFqPthreadCount = -1

#writefq filter configuration
#true: apply filtering (default); false: no filtering
modparam.writeFqFilter = true

#true: apply filtering (default)
#filter mode 1: fixed filter cycle(15) mode
#read1 quality threshold, read2 quality threshold,
#read1 filter cycle, read2 filter cycle, 15 by default for 4 color, 30 by default for 2 color
#read1 error num, read2 error num, 2 by default for 4 color, 4 by default for 2 color ]
#filter mode 2: alterable filter cycle mode
#read1 quality threshold, read2 quality threshold,
#read1 filter cycle, read2 filter cycle, all cycles by default(equal to read length)
#read1 error num percentage threshold, read2 error num percentage threshold]
modparam.filterParam = 2 20 20 1 1 0.75 0.70
#Save the reads that has been filtered
#0: not save (default); 1: save unfiltered reads in separated FASTQ file
modparam.saveNotFiltered = 0
#Quality system Q40 means 40 quality scores from 0-39 (8 bits/base),
#while Q4 only have 4 scores (4 bits/base)
#0: Q40 (default); 1: Q4
modparam.qualityVersion = 0

#Quality table
modparam.qualityTable = QualityTable_T7_4_V1.0.tbl
#lag runon correction window (Only available for CPU version)
modparam.correctWindow = 1

#alignment factor, edge block extend
#true is default, for unstandard track line pattern, set to false
modparam.trackExtend = true

modparam.offsetLimit = 20 # offset threshold between channels

modparam.use_distCal = 0  #if use distort calibration ini, then set 1, otherwise set 0

#Save temporary files during basecall
modparam.saveRawIntFile = false #raw IntensityFile(not normalized), false, for GPU, no rawInts
modparam.saveNorIntFile = false #normalized IntensityFile, false
modparam.saveMidIntFile = false #mid IntensityFile, false, for 2 color no midints
modparam.saveFinIntFile = false #fin IntensityFile, false
modparam.saveLocalCalFile = true #cal file, true
# modparam.saveMetricsCalPath = ./metricsCal

modparam.saveimagePath = $MGI_SAVEIMAGE_DIR #/lb/scratch/MGI/T7-test-datasets/T7_real_data/first_sequencing/upload/saveImage #E:/saveImage #./saveImage
modparam.saveintensityPath = $MGI_WORKSPACE_DIR #/lb/scratch/MGI/T7-test-datasets/T7_real_data/first_sequencing/upload/workspace #E:/workspace #./workspace
modparam.generateFastqPath = $MGI_GENFASTQ_DIR #/lb/scratch/MGI/T7-test-datasets/T7_real_data/first_sequencing/upload/OutputFq #E:/OutputFq #./OutputFq

#time for asynchronous write call between cycle
modparam.timeOutForCal = 300
#the number as reservation for images lately
modparam.reserveRunNumImages = 8
#the number as reservation for metrics lately
modparam.reserveRunNumMetrics = 90
#Save int files for troubleshooting, only for 2 color CPU
#Background percentage for debug, only for CPU
#Report generating program
modparam.reportCommand = report/analysisAndMapping.py

#Execute auto mapping pipeline after writefq
#0: default value, no mapping
#1: Mapping with Ecoli, reference in path, mapping available by default
#2: Mapping with Human.fa
#3: Mapping with hg19.fa (alias of Human.fa)
#Other reference is not available by default
modparam.reportMapping = 0

#deprecated, no recommanded to use
# modparam.imageRange = C001R001,C002R002
# modparam.saveThumbnail = false
# modparam.thumbnailChannels = 0,3

#--------------------------------------------------------------------------
# Synchronization Modules.
# Using ssh connect to server and sync the .cal files
# offline parameters, online set by ISW parameters
#--------------------------------------------------------------------------

#mode:0 do not sync the cal files, skip other parameters
#mode:1 map storage to local, using parameters "remotePath",(recommend mode)
#mode:2 socket connection, using all parameters, (unstable mode)
pipeline.sync.mode = 0

#common parameters, using for mode 1 and mode 2
pipeline.sync.remotePath = ./remote_path #/home/zebra/project/012.test_sync_cals
pipeline.sync.syncCals = true
pipeline.sync.syncImages = true
pipeline.sync.syncLogs = true

#just using for mode 2
#local user's ssh key path, using for establish a remote connection
# pipeline.sync.sshKeyPath = C:\\ssh_key_path\\.ssh\\id_rsa
# pipeline.sync.ip = 172.16.16.45
# pipeline.sync.port = 22
# pipeline.sync.username = gpuinx

#--------------------------------------------------------------------------
# Optical parameters.
# image size: imgSizeX/imgSizeY, only for GPU, offline
# imgScale: image scale(nm/pixel, the optcal system magnification)
#--------------------------------------------------------------------------

client.imgSizeX = 4608 #4640  #4976  #3488
client.imgSizeY = 4592 #4738  #4976  #3486
modparam.imgScale = 325 #314.86 #300 #325

#--------------------------------------------------------------------------
# Chip type: track pattern, chip pitch
# trackPatternBlockSizeX, spot number for each block in X direction
# trackPatternBlockSizeY, spot number for each block in Y direction
#--------------------------------------------------------------------------

modparam._G1.trackPatternBlockSizeX = 130 234 286 312 312 286 234 130 208
modparam._G1.trackPatternBlockSizeY = 130 234 286 312 312 286 234 130 208
modparam._G1.chipPitch = 700

modparam._DP40.trackPatternBlockSizeX = 130 234 286 312 312 286 234 130 208
modparam._DP40.trackPatternBlockSizeY = 130 234 286 312 312 286 234 130 208
modparam._DP40.chipPitch = 700

modparam._E1.trackPatternBlockSizeX = 130 234 286 312 312 286 234 130 208
modparam._E1.trackPatternBlockSizeY = 130 234 286 312 312 286 234 130 208
modparam._E1.chipPitch = 700

modparam._DP84.trackPatternBlockSizeX = 112 144 208 224 224 208 144 112 160
modparam._DP84.trackPatternBlockSizeY = 112 144 208 224 224 208 144 112 160
modparam._DP84.chipPitch = 715

#--------------------------------------------------------------------------
# Intensity extraction parameters: pixel radius (for CPU), Bleeding parameters
# bleedingFactorR1: bleeding factor for read1 images
# bleedingFactorR2: bleeding factor for read2 images
# pixelRadius: radius pixel size for intensity extraction, only for CPU
# 4 color: bleeding factor for channel A/C/G/T images separately, the same value now
# 2 color: bleeding factor for channel H/L images separately, the same value now
# each image: 1) area array camera mode: X/Y direction and diagonal direction
# 2) line array(TDI) camera mode: X direction, Y direction, diagonal direction
#--------------------------------------------------------------------------

modparam._G1.bleedingFactorR1 = 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002
modparam._G1.bleedingFactorR2 = 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002

modparam._E1.bleedingFactorR1 = 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002
modparam._E1.bleedingFactorR2 = 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002

modparam._DP40.bleedingFactorR1 = 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002
modparam._DP40.bleedingFactorR2 = 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002

modparam._DP84.bleedingFactorR1 = 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002 0.11 0.16 0.002
modparam._DP84.bleedingFactorR2 = 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002 0.13 0.18 0.002


