###sphinx==3.4.3
###sphinx_rtd_theme
pyenchant>=2.0.0
sphinx-tabs>=1.1.11
sphinxcontrib-spelling>=4.3.0
imagesize>=0.7.1
Pillow>=6.2.2
recommonmark>=0.6.0
sphinx-markdown-tables>=0.0.9
sphinx-git==11.0.0
