name: Update version and create Release's PR

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version name'
        required: true
        type: string

jobs:
  version:
    runs-on: ubuntu-latest

    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: write
      pull-requests: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Validate version format
        run: |
          if [[ ! "${{ inputs.version }}" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Invalid version format. Must be in the format X.Y.Z"
            exit 1
          fi
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Setup Git
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4.1
        with:
          python-version: '3.x'
      - name: Setup GenPipes
        run: |
          git branch --show-current
          git pull
          pdm install --prod --no-lock --no-editable
      - name: Update the version
        id: update_version
        run: |
          echo "__version__ = '${{ inputs.version }}'" > genpipes/__version__.py
          echo "version=${{ inputs.version }}" >> $GITHUB_OUTPUT
      - name: Update Changelog
        run: |
          npm install -g auto-changelog
          auto-changelog -v ${{ steps.update_version.outputs.version }}
      - name: Update READMEs
        run: |
          $(pdm venv activate)
          npm install -g doctoc
          for pipeline in ampliconseq chipseq covseq dnaseq methylseq longread_dnaseq nanopore_covseq rnaseq rnaseq_denovo_assembly rnaseq_light; do
            SUMMARY=$(genpipes $pipeline --help | awk '/Summary:/ {flag=1; next} /Steps:/ {exit} flag')
            USAGE=$(genpipes ampliconseq --help | awk '/Summary:/ {exit} {print}')
            HELPTEXT=$(genpipes $pipeline --help | awk '/Steps:/ {flag=1} flag')
            echo -e "${SUMMARY}\n\nUsage\n-----\n\n\`\`\`text\n${USAGE}\n\n${HELPTEXT}\n" > genpipes/pipelines/$pipeline/README.md
            doctoc genpipes/pipelines/$pipeline/README.md
          done
      - name: Update autocomplete files
        run: |
          $(pdm venv activate)
          genpipes -s bash > resources/autocomplete/genpipes.bash
          genpipes -s zsh > resources/autocomplete/genpipes.zsh
          genpipes -s tcsh > resources/autocomplete/genpipes.tcsh
      - name: Publish package to TestPyPI
        run: |
          pdm build
          pdm publish --skip-existing --repository testpypi --username __token__ --password ${{ secrets.TESTPYPI_API_TOKEN }}
      - name: Create pull request
        id: create_pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.BOT_ACCESS_TOKEN }}
          branch: release/${{ steps.update_version.outputs.version }}
          title: "Release: Candidate Version ${{ steps.update_version.outputs.version }} Pull Request"
          body: |
            This pull request contains the updated __version__.py file with the new release version, an updated CHANGELOG.md file, updated READMEs and autocomplete files.
            This also pushes this version to https://test.pypi.org/project/c3g-genpipes
          base: main
          assignees: paulstretenowich, MareikeJaniak
          delete-branch: true
          labels: automated pr
